{% extends 'base.html'%} {% block title %} Reset Password {%endblock%}
<br />
{%block content %}
<h3>Enter new password</h3>

<p>
  Please enter your new password twice so we can verify you typed it in
  correctly.
</p>
<form method="post">
  {% csrf_token %}

  <label for="id_new_password1">New password:</label
  ><input
    type="password"
    name="new_password1"
    autocomplete="new-password"
    required=""
    id="id_new_password1"
    class="form-control"
  /><br /><span class="helptext">
    <ul>
      <li>
        Your password can’t be too similar to your other personal information.
      </li>
      <li>Your password must contain at least 8 characters.</li>
      <li>Your password can’t be a commonly used password.</li>
      <li>Your password can’t be entirely numeric.</li>
    </ul>
  </span>
  <label for="id_new_password2">New password confirmation:</label
  ><input
    type="password"
    name="new_password2"
    autocomplete="new-password"
    required=""
    id="id_new_password2"
    class="form-control"
  />
  <br />
  <button class="btn btn-sm btn-outline-info">Submit</button>
</form>

{%endblock%}
